// Basic color
$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;
$white: #fff;
$gray: #6c757d;
$gray-dark: #343a40;
$primary: #0d6efd;
$secondary: #6c757d;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #212529;

// Custom color
$main-color: #8b3eea;
$white-color: #ffffff;
$black-color: #2b2540;
$black-color-opacity: #2b2540c4;
$paragraph-color: #818090;
$bg-color: #f3f6fd;
$bg-search-box: #8b3eea17;
$transition: 0.4s all ease-in-out;

// Text
$text: #333;
$text-light: #666;
$text-black: #000;
$text-white: #fff;
$text-disable: #999;

// Background color
$background-transparent: rgba(0, 0, 0, 0.03);
$background-white: #fff;
$background-disabled: rgba(210, 210, 210);

// Hover color
$hover-text: rgb(220, 220, 220);
$hover-bg: rgba(245, 245, 245);

// Shadow
$box-shadow: 0 0.5rem 1rem rgba(#000, 0.15);
$box-shadow-sm: 0 0.125rem 0.25rem rgba(#000, 0.075);
$box-shadow-lg: 0 1rem 3rem rgba(#000, 0.175);
$box-shadow-inset: inset 0 1px 2px rgba(#000, 0.075);

// Border
$border-transparent: 1px solid rgba(0, 0, 0, 0.35);
$border-light: 1px solid #dee2e6;
$border-dark: 1px solid #c7c7c7;
$border-radius: 2px;
$border-radius-lg: 4px;

// Size
// $nav-height: 40px;
// $headbar-height: 80px;
