@use '../../assets/scss/abstracts' as a;

.nav-link {
  position: relative;
  display: inline-block;
  color: inherit;

  &.active {
    color: #000;

    &::before {
      content: '';
      width: 0;
      height: 1px;
      bottom: 0;
      position: absolute;
      left: auto;
      right: 0;
      z-index: -1;
      -webkit-transition: width 0.5s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
      transition: width 0.5s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
      background: #000;
    }
  }
}
