@use '../../assets/scss/abstracts' as a;

.nav-link {
  position: relative;
  display: inline-block;
  color: inherit;

  &.active {
    color: a.$main-color;

    &::before {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      left: 0;
      bottom: 0;
      background-color: a.$main-color;
    }
  }
}
