@use '../../assets/scss/abstracts' as a;

.filter {
  .filterItem {
    border: 1px solid #dddddd;
    background: #ffffff;
    border: 1px solid #00000030;
    border-radius: 6px;
    padding: 20px 15px;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 500;

    .title {
      border-bottom: 1px solid #dddddd;
      padding-bottom: 5px;
    }
    .content {
      padding-top: 5px;
      padding-bottom: 5px;
      .ant-checkbox-group-item {
        width: 100%;
        margin-top: 5px;
      }
    }

    &.price {
      .content {
        margin-bottom: 25px;
      }
    }
  }
}
