@use '../../assets/scss/abstracts/variables' as var;

.flight-card {
  margin-bottom: 24px;

  .flight-card-items {
    border: 1px solid #ddd;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: relative;
  }

  .flight-card-place {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .flight-card-place__arrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h6 {
      font-size: 14px;
      font-weight: 600;
      padding-top: 10px;
    }
    p {
      font-size: 14px;
      line-height: 18px;
    }
  }

  .flight-card-place__left,
  .flight-card-place__right {
    display: flex;
    align-items: center;

    .flight-card-place-airline {
      img {
        display: none;
      }
    }
  }

  .flight-card-place-destination {
    padding-left: 33px;

    &__sub-title,
    &__title,
    &__decs {
      margin: 0;
      padding: 0;
      font-size: 14px;
    }

    &__sub-title {
      line-height: 16px;
      color: var.$paragraph-color;
    }

    &__title {
      font-weight: 500;
      padding-top: 5px;
      font-size: 24px;
    }

    &__desc {
      max-width: 200px;
      padding-top: 5px;
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: var.$dark;
    }
  }

  .flight-card-deal {
    .flight-card-price {
      background-color: var(--ant-primary-1);
      padding: 10px 20px;
      min-width: 200px;

      &__origin {
        color: var.$paragraph-color;
        font-size: 18px;
        font-weight: 500;
      }

      .flight-card-price__off {
        margin-bottom: 0;
        padding-top: 10px;
        font-size: 36px;
        font-weight: 500;
        line-height: 40px;
        color: var(--ant-primary-7);

        sup {
          font-size: 13px;
          color: var.$main-color;
          font-weight: 600;
          top: -19px;
          padding-left: 5px;
        }
      }

      &__condition {
        padding-top: 2px;
        font-weight: 500;
        color: var(--black-color);
      }

      &__show-more {
        font-size: 16px;
        font-weight: 500;
        padding-top: 7px;
        cursor: pointer;
      }
    }

    .btn {
      display: inline-block;
      width: 100%;
      font-weight: 400;
      line-height: 1.5;
      text-align: center;
      text-decoration: none;
      vertical-align: middle;
      cursor: pointer;
      user-select: none;
      font-size: 16px;
      box-shadow: none;
      overflow: hidden;
      white-space: nowrap;
      position: relative;
      z-index: 0;
      border-radius: 0;

      &.btn-primary {
        color: var.$white-color;
        background-color: var.$main-color;
        transition: var.$transition;
        overflow: hidden;
        white-space: nowrap;
        position: relative;
        z-index: 0;
        border: none;
      }

      &.btn-md {
        padding: 12px 35px;
        font-size: 18px;
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        width: 580px;
        height: 550px;
        margin: auto;
        background: var(--ant-primary-5);
        border-radius: 50%;
        z-index: -1;
        transform-origin: top center;
        transform: translateX(-50%) translateY(-5%) scale(0.4);
        transition: var.$transition;
      }

      &:hover::before {
        transition: transform 1s;
        transform: translateX(-50%) translateY(0) scale(1);
        transform-origin: bottom center;
        border: none;
      }
    }
  }
}
