@use '../../assets/scss/abstracts' as a;

.booking-page__container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  // max-width: ;
  padding-top: 100px;
  &__item {
    min-width: 500px;
    &:first-child {
      flex: 2;
    }
    &__title {
      border-bottom: 1px solid a.$main-color;
      font-size: 18px;
      display: inline-block;
      font-weight: 500;
      margin-bottom: 20px;
      margin-top: 20px;
    }
    &__content {
      background-color: #fff;
      border-radius: 16px;
      padding: 40px;
      padding-left: 40px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      padding-right: 0;
    }
    flex: 1;
  }
}
@media only screen and (max-width: 767px) {
  .booking-page__container__item {
    &:last-child {
      &:first-child {
        padding: 20px;
      }
    }
    // .booking-page__container__item__content {
    //   padding: 10px;
    // }
  }
}
