@use '../abstracts' as a;

.input {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  vertical-align: middle;
  border-radius: a.$border-radius !important;
  border: a.$border-light;
  color: a.$text;
  background-color: a.$background-white;

  &:hover {
    background-color: a.$hover-bg;
  }
  &:focus {
    outline: none;
    background-color: a.$white;
  }
  & ~ .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: a.$primary;
  }
  &:focus:not(.error-input) ~ .underline {
    width: 100%;
    transition: 0.5s;
  }
}
