@use '../../assets/scss/abstracts' as a;
.form-select {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  outline: none;
  height: 55px;
  border: 2px dashed #dddddd75;
  padding: 10px 22px;
  font-size: 16px;
  box-shadow: 0px 1px 13px 0px #0000000d;
  display: block;
  width: 100%;
  font-weight: 400;
  padding: 0.5rem;
  line-height: 1.5;
  color: #212529;
  background-color: #f3f6fd;

  background-clip: padding-box;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  &:focus {
    background-color: #fff;
    border: 2px dashed a.$main-color;
    outline: none;
    box-shadow: none;
  }
}
