.ag-smoke-block-container {
  position: relative;
}

.ag-smoke-block {
  position: relative;
  top: 0;
  left: 0;
  height: 200px;
  width: 100%;

  animation: goLeft 4s forwards;
  animation-delay: 1s;
}

.ag-smoke_img {
  width: 100%;
  height: auto;
  object-fit: contain;
  position: absolute;
  bottom: 0;
}

@keyframes goLeft {
  0% {
    left: 1000px;
  }
  50% {
    left: 0;
  }
  100% {
    left: 1000px;
  }
}
