.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}

.ag-smoke-block {
  height: 100%;
  width: 100%;
  background-color: #000;

  overflow: hidden;

  position: relative;
}

.ag-smoke_img {
  width: 100%;
  height: auto;

  z-index: 10;
  position: absolute;
  bottom: 0;
}
.ag-smoke_img__left {
  left: 0;

  -webkit-animation: an-smoke-left 10s linear infinite;
  -moz-animation: an-smoke-left 10s linear infinite;
  -o-animation: an-smoke-left 10s linear infinite;
  animation: an-smoke-left 10s linear infinite;
}
.ag-smoke_img__right {
  right: 0;

  -webkit-animation: an-smoke-right 10s linear infinite;
  -moz-animation: an-smoke-right 10s linear infinite;
  -o-animation: an-smoke-right 10s linear infinite;
  animation: an-smoke-right 10s linear infinite;
}

@-webkit-keyframes an-smoke-left {
  0%,
  100% {
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }
  25% {
    -webkit-transform: translate(-10%, 0%);
    transform: translate(-10%, 0%);
  }
  50% {
    -webkit-transform: translate(-20%, 0%);
    transform: translate(-20%, 0%);
  }
  75% {
    -webkit-transform: translate(-10%, 0%);
    transform: translate(-10%, 0%);
  }
}
@-moz-keyframes an-smoke-left {
  0%,
  100% {
    -moz-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }
  25% {
    -moz-transform: translate(-10%, 0%);
    transform: translate(-10%, 0%);
  }
  50% {
    -moz-transform: translate(-20%, 0%);
    transform: translate(-20%, 0%);
  }
  75% {
    -moz-transform: translate(-10%, 0%);
    transform: translate(-10%, 0%);
  }
}
@-o-keyframes an-smoke-left {
  0%,
  100% {
    -o-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }
  25% {
    -o-transform: translate(-10%, 0%);
    transform: translate(-10%, 0%);
  }
  50% {
    -o-transform: translate(-20%, 0%);
    transform: translate(-20%, 0%);
  }
  75% {
    -o-transform: translate(-10%, 0%);
    transform: translate(-10%, 0%);
  }
}
@keyframes an-smoke-left {
  0%,
  100% {
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }
  25% {
    -webkit-transform: translate(-10%, 0%);
    -moz-transform: translate(-10%, 0%);
    -o-transform: translate(-10%, 0%);
    transform: translate(-10%, 0%);
  }
  50% {
    -webkit-transform: translate(-20%, 0%);
    -moz-transform: translate(-20%, 0%);
    -o-transform: translate(-20%, 0%);
    transform: translate(-20%, 0%);
  }
  75% {
    -webkit-transform: translate(-10%, 0%);
    -moz-transform: translate(-10%, 0%);
    -o-transform: translate(-10%, 0%);
    transform: translate(-10%, 0%);
  }
}

@-webkit-keyframes an-smoke-right {
  0%,
  100% {
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }
  25% {
    -webkit-transform: translate(10%, 0%);
    transform: translate(10%, 0%);
  }
  50% {
    -webkit-transform: translate(20%, 0%);
    transform: translate(20%, 0%);
  }
  75% {
    -webkit-transform: translate(10%, 0%);
    transform: translate(10%, 0%);
  }
}
@-moz-keyframes an-smoke-right {
  0%,
  100% {
    -moz-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }
  25% {
    -moz-transform: translate(10%, 0%);
    transform: translate(10%, 0%);
  }
  50% {
    -moz-transform: translate(20%, 0%);
    transform: translate(20%, 0%);
  }
  75% {
    -moz-transform: translate(10%, 0%);
    transform: translate(10%, 0%);
  }
}
@-o-keyframes an-smoke-right {
  0%,
  100% {
    -o-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }
  25% {
    -o-transform: translate(10%, 0%);
    transform: translate(10%, 0%);
  }
  50% {
    -o-transform: translate(20%, 0%);
    transform: translate(20%, 0%);
  }
  75% {
    -o-transform: translate(10%, 0%);
    transform: translate(10%, 0%);
  }
}
@keyframes an-smoke-right {
  0%,
  100% {
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }
  25% {
    -webkit-transform: translate(10%, 0%);
    -moz-transform: translate(10%, 0%);
    -o-transform: translate(10%, 0%);
    transform: translate(10%, 0%);
  }
  50% {
    -webkit-transform: translate(20%, 0%);
    -moz-transform: translate(20%, 0%);
    -o-transform: translate(20%, 0%);
    transform: translate(20%, 0%);
  }
  75% {
    -webkit-transform: translate(10%, 0%);
    -moz-transform: translate(10%, 0%);
    -o-transform: translate(10%, 0%);
    transform: translate(10%, 0%);
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }
}

@media only screen and (max-width: 639px) {
}

@media only screen and (max-width: 479px) {
}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }
}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }
}
