@use '../../assets/scss/abstracts' as a;

.ant-layout-content {
  background-color: #ffffff;
}

.flight-list-page {
  .flight-search-container {
    transform: translateY(-90px);
  }
}

.flight-search-title-container {
  text-align: right;
  .ant-typography {
    color: a.$paragraph-color;
  }
}
