@use '../../assets/scss/abstracts' as a;

.admin {
  min-height: 100vh;

  &-sidebar {
    background-color: a.$background-white;
    box-shadow: a.$box-shadow;
    //border-right: 2px solid;
    &-header {
      padding: 5px;
      align-items: center;
      text-align: center;
      height: 64px;
      justify-content: center;
      &-logo {
        img {
          width: 100%;
          max-height: 90px;
        }
      }
      &-trigger {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
      }
    }
    .ant-menu-item {
      margin: auto !important;
      &:after {
        border-right-color: a.$main-color;
      }
      &-selected {
        color: a.$main-color;
        border-color: a.$main-color;
        a {
          color: a.$main-color;
        }
      }
    }
  }

  &-header {
    height: 64px;
    background-color: a.$main-color;
    box-shadow: a.$box-shadow;
    z-index: 1;
    &-content {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      &-left {
        .ant-input-search {
          vertical-align: middle;
          width: 80%;
        }
      }
      &-right {
        text-align: right;
      }
    }
  }

  &-content {
    padding: 20px;
  }

  &-footer {
    padding: 10px 0;
    text-align: center;
    p {
      margin-bottom: 0;
    }
  }
}
