@use '../../assets/scss/abstracts' as a;

.home-header {
  position: absolute;
  width: 100%;
  z-index: 99;
  padding-right: 0;
  padding-left: 0;
  background-color: transparent;
  line-height: normal;
}

.ant-layout-footer {
  background-color: #fff;
}

@media screen and (max-width: 972px) {
  .ant-layout-footer {
    padding: 0;
    padding-top: 20px;
  }
}
