@use '../../assets/scss/abstracts' as a;

.home-header {
  position: absolute;
  width: 100%;
  z-index: 99;
  padding-right: 0;
  padding-left: 0;
  background-color: transparent;
  line-height: normal;
}
