.footer-email {
  padding-top: 10px;
  padding-bottom: 30px;
  background-color: #f3f6fd;
  margin-top: 100px;
  &__logo-content {
    &__logo {
      width: fit-content;
      img {
        width: 70%;
      }
    }
    &__content {
      font-size: 18px;
    }
    display: flex;
    align-items: center;
    // justify-content: center;
  }
  &__email-send {
    display: flex;
    align-items: center;
    .form-submit {
      padding: 0;
      button {
        border-radius: 0 8px 8px 0;
      }
    }
  }
}
