@use '../abstracts' as a;

.grid {
  padding: 0;
  display: block;
  width: 100%;
  // .ant-row {
  //   margin: 0 !important;
  // }
}

.wide {
  margin: 0 auto;
  max-width: 1440px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .wide {
    max-width: 97%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .wide {
    max-width: 95%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .wide {
    max-width: 984px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .wide {
    max-width: 1200px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1224px) {
  .wide {
    max-width: 1440px;
  }
}

/* Margin top */
@include a.attr-x('margin-top', 60, 1, 'px');

/* Padding top */
@include a.attr-x('padding-top', 60, 1, 'px');
